logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG

spring:
  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MySQL5InnoDBDialect
      ddl-auto: update
    show-sql: true
    #defer-datasource-initialization: true
  redis:
    host: localhost
    port: 6379
  #sql:
   #init:
    #mode: always

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

  servlet:
    multipart:
      maxFileSize: 10MB
      maxRequestSize: 10MB

  profiles:
    include:
      - db
      - s3